*{
    box-sizing: border-box;
}

body{
    background-color:black;
    color: white;
    font: lem 'arial';
}

.tabbed{
    width: 700px;
    margin: 50px auto;
}
.tabbed > input{
 
      display: none;
}
.tabbed > label {
    display: block;
    float:  left;
    padding: 12px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition:backgroung-color 0.03s;
}
.tabbed > label:hover,
.tabbed > input:checked + label{

    background: #e91e73;
}

.tabs{

    clear: both;
    perspective: 599px;
    margin-left: -50px;
}

.tabs > div{
    width: 780px;
    position: absolute;
    border: 4px solid #e91e73;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform:rotateX(-20deg);
    transform-origin:top center;
    transition:opacity 0.03s, transform 1s;
    z-index: 0;
    border-radius: 50px;

}

#tab-nav1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav4:checked ~ .tabs > div:nth-of-type(4){
    transform: rotateX(0);
    opacity: 1;
    z-index: 1;
}




